extends layout 

block content 
  h1= title
  div(style='margin-left:20px;margin-top:20px')
    h3(style='margin-bottom:16px; border-bottom: 1px solid #454545') #{item.name}
    p #[strong Description:] #{item.description || "None"} 
    p #[strong Price:] #{item.price} $
    p #[strong In stock:] #{item.numberInStock}
    p #[strong Category:] 
        each val, index in item.category
            a(href=val.url) #{val.name}
            if index < item.category.length - 1
                |, 
        else
            p This item has no categories.
    hr
    p
      a(href=item.url+'/delete') Delete item
    p
      a(href=item.url+'/update') Update item